name: scratch-deployment

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    name: Build and Push to ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t docker/repo:${{ github.sha }} .
          docker tag docker/repo:${{ github.sha }} docker/repo:latest

      - name: Push to AWS ECR
        uses: theikkila/aws-ecr-action@v1
        with:
          access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          repo: docker/repo
          region: ap-south-1
          tags: latest,${{ github.sha }}
          create_repo: true